body
{
    background-color: silver;

}

.title_1
{
    color: red;
    font-family: papyrus;
    text-align: center;
}
#pa_1
{
    margin-left: 200px;
    text-align: right;
    te
}
body h2
{
    color: blue;
}
#pa_2
{
    color: rgb(57, 102, 11);
}