body
{
    background-color: rgb(231, 138, 52);

}

.title_1
{
    color: red;
    font-family: papyrus;
    text-align: center;
}
#pa_1
{
    margin-left: 200px;
    text-align: right;
    te
}
body h2
{
    color: blue;
}
#pa_2
{
    color: rgb(33, 59, 7);
}

.pa_3
{
    color: rgb(43, 15, 70);
    text-align: center;
}
h3
{
    color: white;
    text-align: center;
}